minecraft/.vscode/** 
minecraft/.mixin.out/
minecraft/assets/** 
minecraft/crash-reports/** 
minecraft/downloads/**
minecraft/modern_industrialization/** 
minecraft/saves/** 
minecraft/screenshots/** 
minecraft/waypoints/** 
minecraft/local/** 
minecraft/logs/**
minecraft/kubejs/assets/modern_industrialization
minecraft/kubejs/assets/kubejs
minecraft/kubejs/data/gtmogs/
minecraft/journeymap/**
minecraft/mods/**
minecraft/dumps/**
instance.cfg
minecraft/shaderpacks/ComplementaryReimagined_r5.5.1.zip.txt
minecraft/hs_err**
minecraft/malum_extra.json
minecraft/user*
minecraft/command_history.txt
minecraft/emi.json
minecraft/config/gtceu.yaml
minecraft/config/iris.properties
